.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 30px 0;
  .paginationBox {
    display: flex;
    align-items: center;
    justify-content: center;

    .btnArrow {
      width: 50px;
      height: 50px;
      border: 1px #e1e1e1 solid;
      padding: 15px;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        color: #e1e1e1;
      }
    }

    .btnNext {
      transform: rotate(180deg);
    }

    .btnEnd {
      transform: rotate(180deg);
    }

    .pageBox {
      margin: 0 40px 0 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      .pageBtn {
        padding: 10px;
        font-size: 20px;
        color: #a1a1a1;
        border-radius: 100%;
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 8px 0 8px;
        cursor: pointer;

        &:hover {
          color: #000;
          background-color: #f5f5f5;
        }
      }

      .clicked {
        color: #000;
        background-color: #f5f5f5;
      }
    }
  }
}
