input {
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  h2 {
    font-size: 20px;
  }

  span {
    font-size: 14px;
    font-weight: 300;
    color: #6c801a;
  }
}

.inputWrapper {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.inputTitle {
  display: block;
  width: 100px;
}

.order {
  color: #333;

  .orderInner {
    position: relative;
    width: 1200px;
    margin: auto;

    .orderTitle {
      width: 100%;

      h1 {
        font-size: 32px;
        padding: 60px 0 30px;
        color: #333;
      }
    }
    .orderContainerWrapper {
      width: 860px;
      border-top: 2px solid #333;

      .orderUserInfo {
        padding: 0 20px 60px 20px;

        .orderInfoInput {
          margin-top: 40px;

          .userName {
            input {
              width: 100%;
              height: 40px;
            }
          }
        }
        .userNotice {
          display: flex;
          justify-content: end;

          .noticeInner {
            font-size: 13px;
            background-color: #f6f6f6;
            padding: 30px;
            width: 730px;

            .noticeText {
              color: #999;
              margin-bottom: 12px;
            }

            .noticeEx {
              color: #333;
            }
          }
        }
      }
      .deliveryRequest {
        width: 100%;
        background-color: #f6f6f6;
        padding: 24px 24px 30px;

        .text {
          padding-bottom: 20px;
        }

        .requestSelect {
          width: 100%;
          height: 40px;
          padding-left: 12px;
          border-radius: 3px;
          border: 1px solid #e5e5e5;
        }
      }
      .orderAddressInfo {
        border-top: 2px solid #333;
        padding: 0 20px 0px 20px;

        .oderAddressInput {
          padding: 40px 0 40px 0;
        }

        .title {
          padding-bottom: 20px;
        }
      }
      .orderProductInfo {
        padding: 60px 0 20px 0;

        .title {
          padding: 20px 20px;
        }

        .orderList {
          padding: 0 20px;
          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px 20px;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;

            .productImgWrapper {
              display: flex;
              align-items: center;

              .productImg {
                width: 96px;
                height: 106px;
                overflow: hidden;
                margin-right: 20px;

                img {
                  display: block;
                  width: 100%;
                }
              }
            }
          }
        }
      }
      .payWay {
        .title {
          padding: 0 20px 40px;
        }

        .payWayImg {
          width: 800px;
          margin: 20px auto;
          img {
            display: block;
            width: 100%;
          }
        }
      }
      .purchaseConsent {
        padding: 40px 0;
        .consentSelect {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}

.paymentBox {
  position: fixed;
  top: 170px;
  right: 250px;
  width: 280px;
  padding: 20px 20px 0;
  border: 1px solid #333;
  border-radius: 12px;
  font-size: 14px;

  .totalAmount,
  .finalPayment {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
  }
  .finalPayment {
    .payment {
      color: #6c801a;
      font-weight: bold;
    }
    padding-bottom: 60px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
  }
  .btnPayment {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #6c801a;
    color: #fff;
    border-radius: 0 0 11px 11px;
    font-size: 18px;
    font-weight: bold;
  }
}
