.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  .header {
    display: flex;
    width: 100%;
    padding: 48px 0 30px;
    font-size: 28px;
  }
  .cartCheck {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    width: 80%;
    border-bottom: 2px solid #333;
    .checkAllBox {
      display: flex;
      gap: 10px;
    }
    .checkAll {
      font-size: 15px;
    }
  }
  .listBox {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 20px 8px;
    flex-direction: row;
  }
  .itemInfoBox {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .getBtnBox {
    width: 100px;
    text-align: center;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    font-size: 10px;
    border: 1px solid #ddd;
    margin-right: 50px;
    padding: 10px;
  }
  .getOptionItem {
    padding: 15px 40px;
    background-color: #6c801a;
    color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400px;
    margin-top: 0px;
  }
  .cartMsg {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.03em;
    color: #999;
    text-align: center;
    margin-top: 10px;
  }
  .onlyTodayBox {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  }
  .onlyToday {
    display: flex;
    border-bottom: 1px solid #999;
    width: 100%;
    padding: 15px 20px;
    .onlyTodayTitle {
      font-size: 24px;
      width: 20%;
    }
    .onlyTodayInfo {
      font-size: 15px;
      margin-top: 10px;
      color: #333333e6;
    }
    .countingTime {
      font-size: 30px;
      margin-right: 20px;
      margin-left: auto;
    }
  }
  .onlyTodayBottomBox {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 30px;
  }
}
