.bestProductListCard {
  margin-right: 12px;
  .productListCardImgBox {
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    height: 230px;
    position: relative;
    border: 1px solid #727272;
    img {
      max-width: 100%;
      height: 100%;
    }

    &:hover .picCartBox {
      display: block;
      width: 35px;
      height: 35px;
      border-radius: 35px;
      padding: 6px;
      background-color: #bcbcbc;
      position: absolute;
      right: 5px;
      bottom: 5px;

      &:hover {
        background-color: #727272;
      }
    }

    .numberBox {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #666666;
      width: 30px;
      height: 30px;
      font-size: 15px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .pic {
    width: 100%;
    height: 100%;

    &:hover {
      // opacity: 0;
      transition: 0.5s;
    }
  }
  .picCartBox {
    display: none;
  }
  .picCart {
    width: 100%;
    height: 100%;
  }

  .labelBox {
    display: flex;
  }

  .newProduct {
    width: 60px;
    font-size: 14px;
    padding: 4px 8px;
    background-color: #a89079;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .emptyQuantity {
    width: 70px;
    font-size: 14px;
    padding: 4px 8px;
    background-color: #bcbcbc;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
  }

  .productListCardTitle {
    font-size: 18px;
    color: #555555;
    cursor: pointer;
    padding: 7px 0 7px 0;
    word-break: break-all;
  }

  .productListCardPriceBox {
    height: 50px;
  }

  .productListCardPrice {
    color: #333;
    font-size: 18px;

    font-weight: 600;
  }

  .productListCardOriginalPrice {
    color: #bcbcbc;
    font-size: 15px;
    text-decoration: line-through;
    margin-bottom: 3px;
  }

  .productListCardSaleBox {
    display: flex;
    align-items: center;
  }

  .productListCardOriginalPrice {
    margin-right: 5px;
  }

  .productListCardDiscountRate {
    color: #6c801a;
    font-weight: 700;
    font-size: 18px;
    margin-left: 5px;
  }
}
