@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  box-sizing: border-box;
}
html,
body {
  font-family: Pretendard, 'Noto Sans KR', sans-serif;
}
li {
  list-style: none;
}
a {
  color: initial;
  text-decoration: none;
}
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
