.cartList {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
  margin-left: 50px;
  border-bottom: 1px solid #e6e6e6;
  height: 100px;
  .checkBox {
    margin-right: 5px;
    margin-bottom: 85px;
  }
  .image {
    width: 100px;
    height: 100px;
  }
  .itemInfo {
    display: flex;
    flex-direction: column;
    width: 130px;
    margin-left: 15px;
    .itemName {
      font-size: 15px;
      color: #727272;
      font-weight: 500;
    }
    .packingItem {
      font-size: 13px;
      color: #666666;
    }
    .presentItem {
      font-size: 11px;
      color: #666666;
      margin-top: 10px;
    }
  }
  .countPrice {
    display: flex;
    .count {
      padding: 10px;
      margin-left: 50px;
    }
    .price {
      padding: 10px;
      margin-left: 70px;
      padding-right: 150px;
      font-size: 14px;
      color: #333333;
    }
  }
}
