.productListCard {
  border-right: 2px #f6f6f6 solid;
  padding: 0 22px 0 22px;

  .productListCardBox div:nth-child(4n) {
    border-right: 0;
  }

  .productListCardImgBox {
    position: relative;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;

    img {
      width: 100%;
    }

    &:hover .picCartBox {
      display: block;
      width: 65px;
      height: 65px;
      border-radius: 65px;
      padding: 13px;
      background-color: #bcbcbc;
      position: absolute;
      right: 0;
      bottom: 0;
      cursor: pointer;

      &:hover {
        background-color: #727272;
      }
    }
  }

  .picFirst {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    &:hover {
      opacity: 0;
      transition: 0.5s;
    }
  }
  .picCartBox {
    display: none;
  }
  .picCart {
    width: 100%;
    height: 100%;
  }

  .labelBox {
    display: flex;
  }

  .newProduct {
    width: 60px;
    font-size: 14px;
    padding: 4px 8px;
    background-color: #a89079;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .emptyQuantity {
    width: 70px;
    font-size: 14px;
    padding: 4px 8px;
    background-color: #bcbcbc;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
  }

  .titleBox {
    margin-top: 15px;
    height: 48px;
    margin-bottom: 5px;
  }

  .productListCardTitle {
    font-size: 20px;
    color: #555555;
    cursor: pointer;
  }

  .productListCardPriceBox {
    height: 50px;
  }

  .productListCardPrice {
    color: #000000;
    font-size: 20px;
    margin-bottom: 3px;
  }

  .productListCardOriginalPrice {
    color: #bcbcbc;
    font-size: 16px;
    text-decoration: line-through;
  }

  .productListCardSaleBox {
    display: flex;
  }

  .productListCardOriginalPrice {
    margin-right: 5px;
  }

  .productListCardDiscountRate {
    color: #ff5c5c;
  }

  .interactionBox {
    display: flex;
  }

  .likeBox {
    display: flex;
    font-size: 18px;
    margin-right: 35px;
  }

  .reviewBox {
    display: flex;
    font-size: 18px;
  }

  .likeBtn,
  .reviewBtn {
    height: 18px;
  }

  .likeBtnImg,
  .reviewBtnImg {
    height: 100%;
  }

  .likeBtn,
  .reviewBtn {
    margin-right: 5px;
  }
}
