.productList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  .bannerBox {
    width: 100%;
    height: 380px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .bannerName {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 48px;
      font-weight: 500;
    }
  }

  .container {
    padding: 40px 60px 40px 60px;
  }

  .productListBox {
    margin-top: 10px;
    display: flex;
  }

  .leftMenu {
    width: 220px;
    font-size: 18px;
    color: #363535;
    cursor: pointer;
    .clicked {
      color: #6c801a;
    }
  }

  .leftMenuTitle {
    height: 49px;
    display: flex;

    align-items: center;
  }

  .leftMenuCategory {
    padding-left: 35px;
    margin-top: 20px;

    .clicked {
      color: #6c801a;
    }
  }

  .leftMenuTeaBtn {
    margin-bottom: 35px;
    position: relative;
    padding: 10px 0 10px 0;
    cursor: pointer;

    &:hover {
      color: #6c801a;
      .leftMenuTeaSubBox {
        display: block;
      }
    }

    .leftMenuTeaSubBox {
      position: absolute;
      right: -65px;
      top: -15px;
      border: 1px solid #363535;
      z-index: 9;
      background-color: #fff;
      display: none;

      .leftMenuTeaSubContent {
        padding: 20px 35px 20px 15px;
        color: #363535;

        div {
          display: inline-block;
          padding-bottom: 5px;
          cursor: pointer;
          &:hover {
            border-bottom: 1px solid #363535;
            margin-bottom: -1px;
          }
        }

        .clicked {
          border-bottom: 1px solid #363535;
          margin-bottom: -1px;
          color: #363535;
        }
      }
    }
  }

  .rightMenu {
    width: 100%;
  }
  .rigthMenuTitleBox {
    display: flex;
    height: 49px;
    .rightMenuTitle {
      flex: 1;
      font-size: 18px;
      height: 100%;
    }

    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #ececec;
  }
  .rightMenuFilterBox {
    display: flex;
  }

  .rightMenuFilter {
    font-size: 18px;
    margin-left: 42px;
    // font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      border-bottom: 3px solid #6c801a;
      margin-bottom: -2px;
      color: #6c801a;
    }
  }

  .rightMenuInfoBox {
    margin-top: 20px;
    display: flex;
    margin-bottom: 30px;
  }

  .rightMenuInfo {
    flex: 1;
  }

  .rigthMenuInfoNumber {
    color: #6c801a;
  }

  .rightMenuTeaFilterBox {
    display: flex;
  }

  .rightMenuTeaFilter {
    width: 84px;
    height: 38px;
    font-size: 18px;

    margin-left: 9px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 38px;
    background-color: #f1f1f1;
    color: #a5a5a5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #6c801a;
      color: white;
    }
  }

  .pagination {
    margin-top: 30px;
  }
}
