.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  .header {
    display: flex;
    width: 100%;
    justify-content: center;
    border: 1px solid #f0f0f0;

    .headerText {
      font-size: 20px;
    }

    .headerBox {
      position: relative;
      padding: 20px 120px;
    }

    .deleteBtn {
      position: absolute;
      width: 40px;
      top: 10px;
      right: 20px;
    }
  }

  .joinBox {
    width: 480px;
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 480px;
    justify-content: flex-start;
    height: 100%;

    .joinGuideText {
      font-size: 33px;
      font-weight: bold;
      margin-top: 50px;
      margin-left: 10px;
    }
    .joinGuideTextSmall {
      margin-top: 20px;
      margin-left: 10px;
    }

    .joinForm {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      gap: 15px;
    }
    .error {
      color: red; /* 에러 텍스트의 색상을 빨간색으로 지정 */
      font-size: 13px; /* 에러 텍스트의 글꼴 크기를 조정 */
      /* 원하는 다른 스타일 추가 */
      margin-left: 10px;
    }

    .phoneNumberInput {
      display: flex;
      gap: 10px;

      .phoneOption {
        border-radius: 4px;
        border: 1px solid #e0e0e0;
        font-weight: 700;
        width: 40%;
        height: 56px;
        padding: 19px 0px 15px 16px;
        align-items: center;
        font-size: 15px;
        color: black;
      }
    }

    .signupButton {
      margin-top: 5px;
      padding: 20px;
      background-color: #6c801a;
      color: white;
      border-radius: 4px;
      font-size: 15px;

      &:disabled {
        background-color: #f0f0f0;
        color: grey;
      }
    }
  }
}
